.icon {
  vertical-align: sub;
  width: 2rem;
  height: 2rem;
}
.dark-mode .icon,
.text-white .icon {
  filter: invert(100%);
  opacity: 0.8;
}
.icon,
.text-dark .icon {
  /* Expect fill to be black */
  opacity: 0.7;
  filter: none;
}

.btn-sm .icon {
  vertical-align: baseline;
  width: 1.4rem;
  height: 1.4rem;
}
