.route__icon {
  grid-area: icon;

  font-weight: 500;
  font-size: 1.15em;
  background: var(--route-color);
  color: var(--route-text-color);

  line-height: 1.4em;
  height: auto;

  --line-height: 0.125em;
}
.route__icon::before,
.route__icon::after {
  content: '';
  position: absolute;
  display: block;
  background: var(--route-color);
  height: var(--line-height);
  width: 0.25em;
  top: calc(50% - 0.05em);
}
.route__icon::before {
  right: 100%;
  margin-right: 0.05em;
  border-top-left-radius: calc(var(--line-height) / 2);
  border-bottom-left-radius: calc(var(--line-height) / 2);
}
.route__icon::after {
  left: 100%;
  margin-left: 0.05em;
  border-top-right-radius: calc(var(--line-height) / 2);
  border-bottom-right-radius: calc(var(--line-height) / 2);
}

.route__icon--badge {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}
.route__icon--badge::before,
.route__icon--badge::after {
  content: none;
}
