.route__icon {
  grid-area: icon;

  font-weight: 500;
  background: var(--route-color);
  color: var(--route-text-color);
  margin: 0 var(--line-width);

  height: auto;

  --line-width: 0.5rem;
  --line-gap: 0.05rem;
  --line-height: 0.25rem;
}
.route__icon::before,
.route__icon::after {
  content: '';
  position: absolute;
  display: block;
  background: var(--route-color);
  height: var(--line-height);
  width: calc(var(--line-width) - var(--line-gap));
  top: calc(50% - calc(var(--line-height) / 2));
}
.route__icon::before {
  right: 100%;
  margin-right: var(--line-gap);
  border-top-left-radius: calc(var(--line-height) / 2);
  border-bottom-left-radius: calc(var(--line-height) / 2);
}
.route__icon::after {
  left: 100%;
  margin-left: var(--line-gap);
  border-top-right-radius: calc(var(--line-height) / 2);
  border-bottom-right-radius: calc(var(--line-height) / 2);
}

.route__icon--badge {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}
.route__icon--badge::before,
.route__icon--badge::after {
  content: none;
}
