.route-sheet {
  position: relative;
  top: 75%;
  min-height: 25%;
  scroll-behavior: smooth;
}
.route-sheet__name {
  background-color: var(--route-color);
  color: var(--route-text-color);
  font-family: 'Red Rose', serif;
}
.content-title {
  font-family: 'Red Rose', serif;
}
