@media (prefers-color-scheme: dark) {
  .input:-webkit-autofill,
  .input:-webkit-autofill:hover,
  .input:-webkit-autofill:focus {
    font-family: inherit;
    color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px theme('colors.primary.900') inset;
  }
}
