@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

@layer components {
  .waves {
    @apply bg-blue-700 text-white;
    background-size: theme('spacing.96');
    background-image: url('/waves.svg');
  }
}

@layer utilities {
  .animate-run {
    animation-play-state: running;
  }
  .animate-pause {
    animation-play-state: paused;
  }
}
