@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap {
    scroll-snap-type: both mandatory;
  }
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }

  .scroll-pl-8 {
    scroll-padding-inline-start: 8rem;
  }
}
