@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

@layer utilities {
  @variants dark {
    .filter-none {
      filter: invert(100%);
    }
    .filter-invert {
      filter: invert(100%);
    }
  }

  .animate-run {
    animation-play-state: running;
  }
  .animate-pause {
    animation-play-state: paused;
  }
}
