.sidebar {
  --lm-sidebar-bg-color: #f6f7f8;
  --dm-sidebar-bg-color: #2d3039;

  --sidebar-title-font-weight: 500;
  --sidebar-title-font-size: 1.75rem;
}

.directions-box {
  padding: var(--sidebar-content-margin);
  margin: 0;
}

.sidebar-title {
  font-family: 'Red Rose', serif;
}
