.navbar {
  --dm-navbar-bg-color: #3e5d8a;
  --navbar-brand-image-height: 3rem;
  --navbar-brand-font-weight: 500;
  --navbar-brand-image-opacity: 0.85;
}
.dark-mode .navbar {
  --navbar-brand-image-opacity: 0.8;
}
.navbar-brand {
  font-family: 'Red Rose', serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.navbar-brand img {
  opacity: var(--navbar-brand-image-opacity);
}
.navbar-brand:hover img {
  opacity: calc(var(--navbar-brand-image-opacity) - 0.15);
}
.dark-mode .navbar-brand img {
  filter: invert(100%);
}
