details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}

.trip-collapse {
  --segment-padding: theme('spacing[0.5]');
}
.trip-collapse__icon {
  grid-area: dot;
}
.trip-collapse[open] .trip-collapse__icon {
  @apply rotate-180;
}
