.loading__linear::before,
.loading__linear::after {
  content: '';
  position: absolute;
  inset: 0;
  background: theme('colors.primary.600');
}
.loading__linear::before {
  animation: linearProgressBar1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
}
.loading__linear::after {
  animation: linearProgressBar2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s
    infinite;
}

@keyframes linearProgressBar1 {
  0% {
    transform: translateX(-35%) scaleX(0.35);
  }
  60% {
    transform: translateX(100%) scaleX(0.9);
  }
  100% {
    transform: translateX(100%) scaleX(0.9);
  }
}
@keyframes linearProgressBar2 {
  0% {
    transform: translateX(-200%) scaleX(1);
  }
  60% {
    transform: translateX(107%) scaleX(0.01);
  }
  100% {
    transform: translateX(107%) scaleX(0.01);
  }
}
