.loadbus__line {
  @apply animate-line;
  transform-origin: center right;
  stroke-dasharray: 22;
}
.loadbus__line:nth-child(1) {
  animation-delay: 0s;
}
.loadbus__line:nth-child(2) {
  animation-delay: 0.2s;
}
.loadbus__line:nth-child(3) {
  animation-delay: 0.4s;
}
