name: Deploy to stable

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: merge main -> stable
        uses: everlytic/branch-merge@1.1.0
        with:
          source_ref: ${{ github.ref }}
          target_branch: stable
          github_token: ${{ github.token }}
          commit_message_template: 'Deploy {source_ref} to stable'
