name: Lint and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: pnpm install
        run: pnpm recursive install --frozen-lockfile
        if: steps.cache.outputs.cache-hit != 'true'

      - run: pnpm run tsc
      - name: pnpm run format
        run: pnpm recursive run format --no-bail
      - name: pnpm run postformat
        run: pnpm -w run postformat --no-bail

      - name: pnpm run api
        run: pnpm run api

      - name: pnpm test
        run: pnpm recursive test --no-bail
        env:
          AMAZON_ACCESS_KEY_ID: ${{ secrets.AMAZON_ACCESS_KEY_ID }}
          AMAZON_SECRET_ACCESS_KEY: ${{ secrets.AMAZON_SECRET_ACCESS_KEY }}

      - run: pnpm run build
  test_deno:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: deno lint
        run: deno lint
        working-directory: ./packages/edge-functions/

      - name: deno test
        run: deno test
        working-directory: ./packages/edge-functions/
