name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: setup pnpm
        uses: pnpm/action-setup@v1.2.1
        with:
          version: 5.x.x

      - name: pnpm cache
        uses: actions/cache@v2
        id: format-cache
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
      - name: pnpm install
        run: pnpm recursive install --frozen-lockfile
        if: steps.format-cache.outputs.cache-hit != 'true'

      - name: pnpm run format
        run: pnpm recursive run format --no-bail

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: setup pnpm
        uses: pnpm/action-setup@v1.2.1
        with:
          version: 5.x.x

      - name: pnpm cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
      - name: pnpm install
        run: pnpm recursive install --frozen-lockfile
        if: steps.cache.outputs.cache-hit != 'true'

      - name: pnpm run api
        run: pnpm run api
      - name: pnpm test
        run: pnpm recursive test --no-bail
